<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="allfile" xsi:type="File"
					fileName="${basedir}/fdsoft.codegeneratorlogs/all.txt"
					archiveFileName="${basedir}/fdsoft.codegeneratorlogs/all.{###}.txt"
					archiveEvery="Day"
					archiveNumbering="DateAndSequence"
					archiveAboveSize="20000000"
					maxArchiveDays="31"
					maxArchiveFiles="30"
					keepFileOpen="true"
					layout="${longdate} | ${event-properties:item=EventId_Id} | ${uppercase:${level}} | ${logger} | ${aspnet-request-iP:CheckForwardedForHeader=true} | ${event-properties:item=user} | ${aspnet-request-url} | ${message} | ${event-properties:item=requestParam} | ${event-properties:item=jsonResult} | ${onexception:${exception:format=tostring}"/>
		<target name="loginfile" xsi:type="File"
					fileName="${basedir}/login/loginfile.txt"
					archiveFileName="${basedir}/login/loginfile.{###}.txt"
					archiveEvery="Day"
					archiveNumbering="DateAndSequence"
					archiveAboveSize="20000000"
					maxArchiveDays="31"
					maxArchiveFiles="30"
					keepFileOpen="true"
					layout="${longdate} | ${event-properties:item=EventId_Id} | ${uppercase:${level}} | ${logger} | ${aspnet-request-iP:CheckForwardedForHeader=true} | ${event-properties:item=user} | ${aspnet-request-url} | ${message} | ${event-properties:item=requestParam} | ${event-properties:item=jsonResult} | ${onexception:${exception:format=tostring}"/>
		<target name="sqlfile" xsi:type="File"
					fileName="${basedir}/fdsoft.codegeneratorlogs/all-sql.txt"
					archiveFileName="${basedir}/fdsoft.codegeneratorlogs/all.sql{###}.txt"
					archiveEvery="Day"
					archiveNumbering="DateAndSequence"
					archiveAboveSize="20000000"
					maxArchiveDays="31"
					maxArchiveFiles="30"
					keepFileOpen="false"
					layout="===========================================${newline} ${longdate} - ${aspnet-request-iP} - ${aspnet-request-headers:HeaderNames=userid} - ${aspnet-request-url} ${newline} ${message}"/>
		<!--写入控制台-->
		<target name="console" xsi:type="ColoredConsole"
				layout="${date:format=MM-dd HH\:mm\:ss} | ${uppercase:${level}} |${message}"/>

		<target name="consoleSql" xsi:type="ColoredConsole"
				layout="${date:format=MM-dd HH\:mm\:ss} | ${newline} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minLevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="FdSoft.CodeGenerator.Core.Extensions.DbExtension" final="true" writeTo="consoleSql"/>
		<logger name="FdSoft.CodeGenerator.Core.Extensions.DbExtension" final="true" writeTo="sqlfile"/>
		<!-- loginfile -->
		<logger name="LoginController" minLevel="Info" writeTo="loginfile" />
	</rules>
</nlog>