<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
 <staticContent>
  <remove fileExtension=".woff" />
  <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
  <remove fileExtension=".woff2" />
  <mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />
  <remove fileExtension=".ttf" />
  <mimeMap fileExtension=".ttf" mimeType="font/x-ttf" />
  <remove fileExtension=".json" />
  <mimeMap fileExtension=".json" mimeType="text/json" />
 </staticContent>
        <rewrite>
            <rules>
                <clear />
                <rule name="正则" enabled="false" patternSyntax="ECMAScript">
                    <match url="^(.*?)prod-api/(.*?)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8888/{R:2}" />
                </rule>
                <rule name="通配符" enabled="false" patternSyntax="Wildcard">
                    <match url="*prod-api/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8888/{R:2}" />
                </rule>
                <rule name="vue">
                    <match url="^((?!(prod-api)).)*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="material" patternSyntax="Wildcard">
                    <match url="*prod-api/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://localhost:8891/{R:2}" />
                </rule>
            </rules>
        </rewrite>
 </system.webServer>
</configuration>